/target
/.idea/AquaOS-rust.iml
/.idea/modules.xml
/.idea/vcs.xml
/kernel-proc/target/debug/.cargo-lock
/kernel-proc/target/x86_64_os/debug/.cargo-lock
/kernel-proc/target/.rustc_info.json
/kernel-proc/target/debug/build/proc-macro2-8c330b2a0210eb9d/build-script-build.exe
/kernel-proc/target/debug/.fingerprint/proc-macro2-8c330b2a0210eb9d/build-script-build-script-build
/kernel-proc/target/debug/.fingerprint/proc-macro2-8c330b2a0210eb9d/build-script-build-script-build.json
/kernel-proc/target/debug/build/proc-macro2-8c330b2a0210eb9d/build_script_build.pdb
/kernel-proc/target/debug/build/proc-macro2-8c330b2a0210eb9d/build_script_build-8c330b2a0210eb9d.d
/kernel-proc/target/debug/build/proc-macro2-8c330b2a0210eb9d/build_script_build-8c330b2a0210eb9d.exe
/kernel-proc/target/debug/build/proc-macro2-8c330b2a0210eb9d/build_script_build-8c330b2a0210eb9d.pdb
/kernel-proc/target/x86_64_os/CACHEDIR.TAG
/kernel-proc/target/CACHEDIR.TAG
/kernel-proc/target/debug/.fingerprint/proc-macro2-8c330b2a0210eb9d/dep-build-script-build-script-build
/kernel-proc/target/debug/.fingerprint/kernel-proc-6a5a24208603d4eb/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/kernel-proc-97078111e9b175ad/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/kernel-proc-ddc204a8e7ef99a6/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/kernel-proc-e38526f30dd23b4c/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/proc-macro2-8c330b2a0210eb9d/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/proc-macro2-120ac4a0db57374a/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/quote-402910662372e3dd/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/syn-6de3273b000648fc/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/syn-9d2124ab970174a5/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/unicode-ident-168671c79a97245d/invoked.timestamp
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/invoked.timestamp
/kernel-proc/target/debug/.fingerprint/kernel-proc-97078111e9b175ad/lib-kernel_proc
/kernel-proc/target/debug/.fingerprint/kernel-proc-e38526f30dd23b4c/lib-kernel_proc
/kernel-proc/target/debug/.fingerprint/kernel-proc-97078111e9b175ad/lib-kernel_proc.json
/kernel-proc/target/debug/.fingerprint/kernel-proc-e38526f30dd23b4c/lib-kernel_proc.json
/kernel-proc/target/debug/.fingerprint/proc-macro2-120ac4a0db57374a/lib-proc_macro2
/kernel-proc/target/debug/.fingerprint/proc-macro2-120ac4a0db57374a/lib-proc_macro2.json
/kernel-proc/target/debug/.fingerprint/quote-402910662372e3dd/lib-quote
/kernel-proc/target/debug/.fingerprint/quote-402910662372e3dd/lib-quote.json
/kernel-proc/target/debug/.fingerprint/syn-6de3273b000648fc/lib-syn
/kernel-proc/target/debug/.fingerprint/syn-9d2124ab970174a5/lib-syn
/kernel-proc/target/debug/.fingerprint/syn-6de3273b000648fc/lib-syn.json
/kernel-proc/target/debug/.fingerprint/syn-9d2124ab970174a5/lib-syn.json
/kernel-proc/target/debug/.fingerprint/unicode-ident-168671c79a97245d/lib-unicode_ident
/kernel-proc/target/debug/.fingerprint/unicode-ident-168671c79a97245d/lib-unicode_ident.json
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/out/libproc_macro2.rmeta
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/output
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/out/proc_macro2.d
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/root-output
/kernel-proc/target/debug/.fingerprint/proc-macro2-2fdc007cbd69c1b7/run-build-script-build-script-build
/kernel-proc/target/debug/.fingerprint/proc-macro2-2fdc007cbd69c1b7/run-build-script-build-script-build.json
/kernel-proc/target/debug/build/proc-macro2-2fdc007cbd69c1b7/stderr
/kernel-proc/target/debug/.fingerprint/kernel-proc-6a5a24208603d4eb/test-lib-kernel_proc
/kernel-proc/target/debug/.fingerprint/kernel-proc-ddc204a8e7ef99a6/test-lib-kernel_proc
/kernel-proc/target/debug/.fingerprint/kernel-proc-6a5a24208603d4eb/test-lib-kernel_proc.json
/kernel-proc/target/debug/.fingerprint/kernel-proc-ddc204a8e7ef99a6/test-lib-kernel_proc.json
